.navigation {
  display: flex;
  justify-content: left;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 5vh;
  max-height: 100px;
  font-size: 1em;
}

.navigationItem {
  display: inline-flex;
  align-items: center;
  margin: 0;
}

.navigationItem a {
  color: currentColor;
  text-decoration-line: none;
  padding: 11px 15px;
}

.navigationItem a:hover {
  color: #d2d2d2;
  background-color: rgb(21, 21, 21);
}
